configuration {
  modi: "combi,drun,run,window";
  lines: 6;
  me-accept-entry: "MousePrimary";
  me-select-entry: "";
  show-icons: true;
  terminal: "kitty";
  combi-modi: "drun,run";
  hide-scrollbar: true;
  window-format: "{t}";
  combi-hide-mode-prefix: true;
  display-window: "Windows";
  display-windowcd: "Windows";
  display-run: "Commands";
  display-ssh: "SSH";
  display-drun: "Applications";
  display-combi: "All";
  display-keys: "Keys";
}

@theme "gruvbox.rasi"
