/* Remove extra buttons and bookmark bar */
#forward-button,
#stop-button,
#reload-button,
#tracking-protection-icon-container,
#identity-permission-box,
#page-action-buttons,
#toolbar-menubar,
.titlebar-buttonbox-container,
.titlebar-spacer,
#PersonalToolbar {
  display: none !important;
}

:root {
  --navbar-width: min(600px, 50%);
}

/* Reponsive one-line mode */
@media (min-width: 1000px) {
  #navigator-toolbox {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row-reverse !important;
  }

  #nav-bar {
    width: var(--navbar-width) !important;
  }
}

/* Remove navigation bar color */
#nav-bar {
  background: none !important;
}

/* Remove new tab icon */
.tabbrowser-tab[label="New Tab"]:not([pinned]) .tab-icon-image {
  display:none !important;
}
